/* UTILITIES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu TAS Beginner", cursive;
}

.flex-center {
    display: flex;
    justify-content: center
}

.border-blu {
    border: 1px solid blue;

}

/* DEBUG STATIC FORM */
.row {
    --bs-gutter-y: 1.5rem
}

header {
    background-image: url(../img/wall.png);
    height: 150px;
}

.card-img {
    max-width: 100%;
}


h1 {
    font-size: 100px;
}

.container {
    padding: 50px;
}

.background {
    background-image: url(../img/cork.png);
}

.box {
    background: #fff;
    padding: 16px;
}

.color-pin {
    border-radius: 50%;
    position: relative;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.overlayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.639);
    display: none;
    /*display: flex;
    justify-content: center;*/
}

.close-btn {
    height: 60px;
    width: 100px;
    font-size: 20px;
    
}

/*.overlayer .close-btn {
    font-size: 40px;
    padding: 0 20px;
    margin-bottom: 20px;
}*/