/* UTILITIES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu TAS Beginner", cursive;
}

.flex-center {
    display: flex;
    justify-content: center
}



/* DEBUG STATIC FORM */
.row {
    --bs-gutter-y: 1.5rem
}

header {
    background-image: url(../img/wall.png);
    height: 150px;
}

img {
    max-width: 100%;
}


h1 {
    font-size: 100px;
}

.container {
    padding: 50px;
}

.background {
    background-image: url(../img/cork.png);
}

.box {
    background: #fff;
    padding: 16px;
}

.color-pin {
    border-radius: 50%;
    position: relative;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}